html
    head
        body
            h1 Kim's Convenience
                
            h2  Developed By
                li Ins Choi 
                li Kevin White
            h3 Starring
                li Paul Sun-Hyung Lee
                li Jean Yoon
                li Andrea Bang
                li Simu Liu
                li Andrew Phung
                li Nicole Power
            h4 Seasons
                li Season 1
                li Season 2
                li Season 3
                li Season 4
